<h1>Notification#authorize_confirmation</h1>

<p>Hi <%= @room.user.username %>, <br/>
 Your room has been added into the site </p>

            <h4><%= @room.name %>  
                </h4>
    
    
<b> Thank you for placing the room with us</b>
