<h1>Notification#authorize_confirmation</h1>

<p>Hi <%= @booking.user.username %>, <br/>
 Your booking has been added into the </p>

            <h4><%= @booking.room.name %>  
                </h4>
    
    
<b> Thank you for placing the booking  with us</b>
