<h2> booking </h2>

<% @booking.each do |b| %>
<% if b.user_id == current_user.id %>

<label>Start Date</label>

<%= b.start_date %><br /><br />
<label> End Date</label>
<%= b.end_date %><br /><br />
<label>Booking Price</label>
<%= b.price %><br /><br />
<% end %>
<% end %>