<div class="alert alert-danger">
      <h4><%= pluralize(@room.errors.count, "error") %> prohibited this comment from being saved:</h4>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div